<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Note:</strong>
  <%= @product.note %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<%= form_tag(action: :pay, method: :post) do %>
   <script type="text/javascript"
   src="https://checkout.pay.jp"
   class="payjp-button"
   data-key="pk_test_0383a1b8f91e8a6e3ea0e2a9">
   </script>
<% end %>
